  .register-box { max-width: 400px; margin: 80px auto; padding: 30px; background: #111; border: 1px solid #d4af37; border-radius: 10px; color: white; text-align: center; }
        input { width: 90%; padding: 12px; margin: 10px 0; border-radius: 5px; border: none; background: #222; color: #fff; }
        .btn-reg { background: #d4af37; color: #000; font-weight: bold; border: none; padding: 12px; cursor: pointer; border-radius: 25px; width: 95%; transition: 0.3s; }
        .btn-reg:hover { background: #fff; }
        
        /* Style pour le message d'erreur */
        .error-msg { 
            background: rgba(231, 76, 60, 0.2); 
            border: 1px solid #e74c3c; 
            color: #e74c3c; 
            padding: 10px; 
            border-radius: 5px; 
            margin-bottom: 20px; 
            font-size: 0.9rem;
            font-weight: bold;
        }
        body{
            margin: 0px 0px 0px 0px;
        }